# API Configuration
API_HOST=tracer.zaruchevskiy.ru
API_HOST_TESTNET=testnet-tracer.zaruchevskiy.ru
PORT=8080
GIN_MODE=release

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=tontracer
DB_PASSWORD=tontracer
DB_NAME=tontracer
DB_SSLMODE=disable
